/*
 *= require_tree .
 *= require_self
 */

body {
    background-color: #f5f5f5;
}

a {
    color: #4859b8;
}

a:hover,
a:active {
    text-decoration: none;
}

.container {
    padding: 40px 30px;
    max-width: 960px;
}

.btn {
    border-radius: 0;
}

.text {
    &--small {
        font-size: 0.8em;
    }
}

.pagehead {
    width: 100%;
    padding: 0 40px;
    background-color: #7ac843;
    color: #fff;

    a {
        color: #fff;
    }

    &__title {
        font-weight: bold;
        font-size: 26px;
    }

    &__nav {
        display: inline-block;
        margin: 0;
        height: 100px;
        line-height: 100px;
        list-style: none;
        font-size: 20px;

        li {
            display: inline-block;
            margin-left: 80px;
        }

        &--right {
            float: right;
        }
    }
}

.product {
    border-radius: 0;
    padding: 8px 8px 16px 8px;
    font-size: 18px;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);

    &__name {
        margin: 0;
        padding: 8px 16px 8px;
        border-bottom: 1px solid #ddd;
        font-size: 32px;
    }

    &__price {
        padding: 8px 16px 0;
        font-size: 18px;
    }

    &__price {
        padding: 8px 16px 0;

        &_value {
            color: #b12704;
        }
    }

    &__description {
        padding: 0 16px;
        font-size: 18px;
    }
}

.product-image {
    &--small {
        width: 80px;
    }

    &--large {
        width: 280px;
    }

    &--full {
        width: 100%;
    }
}

.btn_cart {
    font-weight: bold;
}

.quantity_form {
    label {
        font-weight: normal;
    }
    input {
        border-radius: 0;
    }
}

.cartitems {
    td, th {
        font-size: 18px;
    }
}

.admin-form {
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;

    h2 {
        margin-top: 0;
        margin-bottom: 18px;
    }
}
